{% extends 'base.html' %}
{% load static %}


{% block content %}


  <h1>
    {{ review.title }} {# 재미있다 #}
  </h1>
  <h2>
    영화 제목: {{ review.movie_title }}  {# 고질라vs콩 #}
  </h2>
  <p>랭킹: {{ review.rank }}</p>
  <p>create: {{ review.created_at }}</p>
  <p>update: {{ review.updated_at }}</p>


  {% for comment in comments %}
    <ul>
      <li>
        {{ comment }}
      </li>
    </ul>
  {% endfor %}


  <form action="{% url 'community:comment_create' review.pk %}" method="POST">
    {% csrf_token %}
    {{ comment_form.as_p }}
    <input type="submit" value="댓글작성">
  </form>
  
{% endblock  %}