{% extends 'base.html' %}
{% block title %}Index{% endblock title %}

{% block body %}
  <div class="container">
    <section class="row g-3 row-cols-3"> 
      {% for movie in movies %}
        <article class="col">
            <img src= {{ movie.poster_path }} class="card-img-top img-fluid" alt="영화 이미지 1">
              <div class="card-body">
                <a href="{% url 'detail' movie.id %}">{{ movie.title }}</a>
              </div>
        </article>
      {% endfor %}
    </section>
  </div> 
{% endblock body %}
            
